<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <dllmap dll="libui" os="windows" target="libui.dll"/>
  <dllmap dll="libui" os="osx" target="libui.dylib"/>
  <dllmap dll="libui" os="linux,freebsd,netbsd" target="libui.so.0"/>
  <dllmap dll="libui" os="openbsd" target="libui.so.0"/>
</configuration>